In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("Data.csv")
print(dataset)
print(type(dataset))

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
<class 'pandas.core.frame.DataFrame'>

In [5]:
print(dataset.values)
print(type(dataset.values))

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
<class 'numpy.ndarray'>

In [7]:
print(dataset.values[0])

['France' 44.0 72000.0 'No']

In [9]:
print(dataset.ndim)

2

In [11]:
print(dataset.size)

40

In [13]:
print(dataset.shape)
print(dataset.values.shape)
print(dataset.dtypes)

(10, 4)
(10, 4)
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [15]:
print(dataset.values)
print(type(dataset.values))

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
<class 'numpy.ndarray'>

In [17]:
print(dataset.values[0])

['France' 44.0 72000.0 'No']

In [19]:
print(dataset.values[0])
print(dataset.values[0][0])
print(dataset.values[0,0])

['France' 44.0 72000.0 'No']
France
France

In [21]:
print(dataset.values[0:2])
print(dataset.values[:2])

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']]
[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']]

In [23]:
print(dataset.values[:,2])

[72000.0 48000.0 54000.0 61000.0 nan 58000.0 52000.0 79000.0 83000.0
 67000.0]

In [25]:
print(dataset.values[:,1])

[44.0 27.0 30.0 38.0 40.0 35.0 nan 48.0 50.0 37.0]

In [27]:
print(dataset.values[0::2])

[['France' 44.0 72000.0 'No']
 ['Germany' 30.0 54000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['Spain' nan 52000.0 'No']
 ['Germany' 50.0 83000.0 'No']]

In [29]:
print(dataset.iloc[0])

Country       France
Age             44.0
Salary       72000.0
Purchased         No
Name: 0, dtype: object

In [49]:
X=dataset.iloc[:,:-1].values
print(X)
y=dataset.iloc[:,-1].values
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [51]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,1:])
X[:,1:]=imputer.transform(X[:,1:])
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [31]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [53]:
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
x=np.array(ct.fit_transform(X))

In [37]:
from sklearn.preprocessing import LabelEncoder

In [45]:
le=LabelEncoder()
y=dataset.iloc[:,-1].values
y = le.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [55]:
print(X)
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [57]:
from sklearn.model_selection import train_test_split
X_ogren,X_test,y_ogren,y_test= train_test_split(X,y,test_size=0.2)

In [59]:
print(X_ogren)

[['Spain' 38.0 61000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['Germany' 40.0 63777.77777777778]
 ['Germany' 30.0 54000.0]
 ['France' 35.0 58000.0]
 ['France' 48.0 79000.0]
 ['France' 37.0 67000.0]
 ['Germany' 50.0 83000.0]]

In [61]:
print(X_test)

[['Spain' 27.0 48000.0]
 ['France' 44.0 72000.0]]

In [63]:
print(y_ogren)

['No' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'No']

In [65]:
print(y_test)

['Yes' 'No']

In [69]:
from sklearn.preprocessing import StandardScaler

In [71]:
scaler = StandardScaler()

In [79]:
X_ogren[:,2:] = scaler.fit_transform(X_ogren[:,2:])
X_test[:,2:]= scaler.transform(X_test[:,2:])

In [81]:
print(X_ogren)
print(X_test)

[[-0.3549248611730585 -0.3549248611730585 -0.3549248611730585]
 [-1.2131013911735877 -1.2131013911735877 -1.2131013911735877]
 [-0.09005556179017876 -0.09005556179017876 -0.09005556179017876]
 [-1.0223954956179147 -1.0223954956179147 -1.0223954956179147]
 [-0.6409837045065682 -0.6409837045065682 -0.6409837045065682]
 [1.361428198828 1.361428198828 1.361428198828]
 [0.21719282549396102 0.21719282549396102 0.21719282549396102]
 [1.7428399899393463 1.7428399899393463 1.7428399899393463]]
[['Spain' 27.0 -1.594513182284934]
 ['France' 44.0 0.6939575643831438]]